header {
    height: 145px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1020;
    background: #fff;
    line-height: 1;
}

#top_nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1020;
    background: #fff;
    line-height: 1;
}

.header {
    padding: 20px 0 5px;
    transition: .3s;
}

.header__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__logo img {
    max-width: 250px;
    width: 100%;
    display: block;
}

@media (min-width: 1200px) {
    .header__logo img {
        max-height: 70px;
    }
}

.header__logo {
    text-decoration: none;
}

.header__toggle {
    display: none !important;
    position: relative;
    z-index: 105;
}

.ham.active {
    transform: rotate( 45deg);
}

.ham {
    cursor: pointer;
    transition: transform .4s;
    user-select: none;
    width: 60px;
}

.header__top {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}

.header__top a:hover {
    color: #ee9f2a;
}

.btn:hover {
    color: #fff;
    background: #ff00159e;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.btn:active {
    -webkit-transform: scale(.95);
    transform: scale(.95);
    -webkit-box-shadow: 0 2px 8px rgb(81 73 73 / 21%);
    box-shadow: 0 2px 8px rgb(81 73 73 / 21%);
}

.header__location {
    text-decoration: none;
    color: #369c8e;
    margin-right: 40px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.header__location .i-svg {
    margin-right: 15px;
}

.btn__orange {
    background: #e12837;
    box-shadow: 0 4px 15px rgb(0 0 0 / 15%);
    font-size: 16px;
}

.btn {
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
    border-radius: 5px;
    color: #fff;
    height: 50px;
    padding: 0 18px;
    outline: 0;
}

.social {
    display: flex;
    align-items: center;
    align-content: center;
}

.header__social {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .11);
    display: none;
}

.social__link {
    transition: .3s;
    margin-right: 20px;
    display: flex;
    align-items: center;
    align-content: center;
}

.social .i-svg {
    max-width: 20px;
    max-height: 20px;
    fill: #fff;
}

.menu {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    padding: 20px 0;
}

.menu-item {
    position: relative;
}

.menu a {
    color: #252525;
    text-decoration: none;
    position: relative;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #474747;
}

.menu .current-menu-item a {
    color: #ee9f2a
}

.menu a:after,
.menu a:before {
    content: '';
    position: absolute;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    bottom: -2px;
    background-color: #ee9f2a;
    transition: .4s;
}

.menu li {
    list-style: none;
}

.header__adress {
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, .11);
    display: none;
}

.header__phones {
    margin-top: 12px;
    text-align: center;
    display: none;
}

.header__phone {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.header__phone:first-child {
    margin-right: 10px;
}

.header .menu li:not(:first-child) {
    margin-left: 30px;
}

#menuToggle {
    display: none;
}

.header__bottom {
    margin: 15px 0;
    padding: 0;
    margin-right: auto;
    padding-left: 43px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.header__bottom li {
    list-style: none;
}

.header__bottom a {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Gilroy";
    font-size: 16px;
    line-height: 22px;
    transition: .3s;
    color: #3c3c3c;
}

.header__bottom a:hover {
    color: #ff3c41;
}

@media (max-width: 1220px) {
    .header__logo img {
        max-width: 200px;
    }
    .header .menu {
        margin-left: -180px;
    }
}

@media (max-width: 990px) {
    #menuToggle {
        display: block;
    }
    .header__phones {
        display: block;
        margin-top: auto;
    }
    .footer__nav ul,
    .header__box {
        flex-direction: column;
    }
    .header__left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 105;
    }
    .header__toggle {
        display: flex !important;
        margin-right: -15px;
        margin-top: -4px;
    }
    .btn {
        height: 40px;
        font-size: 16px;
    }
    .header__top {
        justify-content: space-between;
        padding: 25px 0;
    }
    .header__bottom {
        display: none;
        width: 100%;
        background-color: #369c8e;
        padding: 80px 35px 30px;
        color: #fff;
        font-size: 14px;
        animation: .5s linear forwards fadeMenu;
    }
    .header__social {
        display: flex;
        justify-content: center;
    }
    .header .menu {
        margin-left: 0;
    }
    .header__bottom.active,
    .menu {
        display: block;
    }
    .header .menu li {
        text-align: center;
        font-weight: 600;
    }
    .header .menu a {
        color: #fff;
        font-size: 16px;
        padding: 12px 0;
        display: block;
    }
    .header__adress {
        display: block;
        text-align: center;
    }
    .header .menu li:not(:first-child) {
        margin: 0;
    }
}